<!DOCTYPE html>
<html>
<head>
	<title>File Form</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href= "{{ url_for('static',filename='Bootstrap/bootstrap.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
	<link rel="stylesheet" type="text/css"  media="screen and (max-device-width: 320px)"  href= "{{ url_for('static',filename='styles/fitScreen.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Source+Sans+Pro:wght@300;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
<body id="back">
	<nav class="navbar navbar-inverse" id="color">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" id="name">EcoVest</a>
          </div>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<img id="logo" src="logo.jpeg">
			</ul>
		</div>
	</nav>
	<section id="page2">
	<h2 id="esg"> ESG Form</h2>
	<div id = "form">
		<form action="{{ url_for('score') }}" method="post">
			<input type="text" id="company_name" name="company_name" step="any" placeholder="Company Name" required><br><br>
 	 		<input type="text" id="country" name="country" step="any" placeholder="Country" required><br><br>
 	 		<input type="number" id="env_cost" name="env_cost" step="any" placeholder="Total Environmental Cost" required><br><br>
			<input type="number" id="working_cap" name="working_cap" step="any" placeholder="Working Capacity"><br><br>
			<input type="number" id="fish_prod_cap" name="fish_prod_cap" step="any" placeholder="Fish Production Capacity"><br><br>
			<input type="number" id="crop_prod_cap" name="crop_prod_cap" step="any" placeholder="Crop Production Capacity"><br><br>
			<input type="number" id="meat_prod_cap" name="meat_prod_cap" step="any" placeholder="Meat Production Capacity"><br><br>
			<input type="number" id="biodiversity" name="biodiversity" step="any" placeholder="Biodiversity"><br><br>
			<input type="number" id="abiotic_res" name="abiotic_res" step="any" placeholder="Abiotic Resources"><br><br>
			<input type="number" id="water_prod_cap" name="water_prod_cap" step="any" placeholder="Water Production Capacity (drinking and irrigation water)"><br><br>
			<input type="number" id="wood_prod_cap" name="wood_prod_cap" step="any" placeholder="Wood Production Capacity"><br><br>
 	 		<input id="submit" type="submit" value="Submit"><br><br><br>
		</form>
	</div>
</section>
</body>
</html>
